<h1>Welcome, <%= @user.name %> login successful! </h1>


<h2> <%=link_to "View All Girlfriends", users_path %> </h2>

<h2> <%=link_to "View BAE" %></h2>


<%# button_to "Log Out", sessions_path, method: :delete %>
