<h1>Welcome, Dianne's Girlfriends!</h1>

<% if flash[:notice] %>
  <p class="sign-out">You've signed out. Sign back in, girlfriend!</p>
<% end %>


<p> Honestly, Dianne can't remember all their girlfriends, so help them keep track by registering!</p>

<% if flash[:notice] %>
  <p class="sign-out">You've signed out. Sign back in, girlfriend!</p>
<% end %>
